body{
  background: #34495e;
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
}
 h3{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat",sans-serif;
}
.btn{
  right: 10px;
  top: 45px;
  width: 260px;
  height: 40px;
  background: #3498db;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  position: fixed;
}
.logo{
  margin-top:10px;
  margin-left: 10px;
  position: fixed;
}
input{
  width: 100px;
  height: 20px;
  margin: auto;
  display: block;
  border-radius: 10px;
  font-family: "Montserrat",sans-serif;
  color: white;
  cursor: pointer;
  background: #3498db;
}
input:hover{
  border: 1px solid #FF00FF;
}
div.gallery {
margin: 35px;
border: 1px solid #ccc;
float: left;
width: 180px;
}

div.gallery:hover {
border: 1px solid #FF00FF;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}
